@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

body {
    height: 100%;  
    margin: 0;
    padding: 0;
}

#app {    
    height: 100vh;
    font-family: monospace;
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.darkMode {
    background-color: rgb(28, 28, 28);
}

.lightMode {
    background-color: rgb(180, 180, 180);
}

#calcBody {
    padding: 15px;
    width: 400px;
    height: 550px;
    border-radius: 20px;
    border-width: 10px;
    border-style: inset;    
}

.darkCalcBody {    
    background-color: grey;
    border-color: rgb(82, 82, 82);
}

.lightCalcBody {
    background-color: rgb(90, 90, 90);
    border-color: rgb(116, 116, 116);
}

.title {
    font-weight: 700;
    color: rgb(218, 218, 218);
    margin-bottom:10px;
}

.keysBody {
    height: 350px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 66px 66px 66px 66px 66px;
    row-gap: 5px;
    column-gap: 5px;
}

.screen {
    font-family: 'VT323', monospace;
    padding: 10px;
    text-align: end;
    font-size: 35px;
    height: 100px;
    background-color: rgb(225, 255, 179);
    overflow-x: scroll;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
    border-width: 10px;
    border-style: inset;
}

.result {
    z-index: 2;
    text-align: end;
    font-size: 50px;
}


.btns {
    border-width: 10px;
    border-style: inset;
    border-radius: 10px;
    background-color: rgb(44, 44, 44);
    color: whitesmoke;
    font-size: 20px;    
}

.btns:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: rgb(29, 29, 29);
}

.btnRed {
    border-width: 10px;
    border-style: inset;
    border-radius: 10px;
    border-color: brown;
    color: whitesmoke;
    background-color: rgb(192, 61, 61);
    font-size: 20px;
}
.btnRed:hover {
    cursor: pointer;
    transition: 0.2s;
    background-color: rgb(168, 47, 47);;
}

#plus {
    height: 135px;
}

#btnTheme {
    border-width: 10px;
    border-style: inset;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 15px;
    font-weight: 600;
}

.darkBtnTheme {
    color: rgb(50, 50, 50);
    background-color: rgb(255, 255, 146);
    border-color: rgb(255, 255, 102);    
}
.darkBtnTheme:hover {
    background-color: rgb(212, 212, 92);
    border-color: rgb(239, 239, 89);
}

.lightBtnTheme {
    color: rgb(255, 255, 255);
    background-color: rgb(74, 102, 182);
    border-color: rgb(64, 91, 168);    
}
.lightBtnTheme:hover {
    background-color: rgb(53, 82, 160);
    border-color: rgb(53, 77, 146);
}


/* scrollbar */
::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(225, 255, 179);
  }
  
  ::-webkit-scrollbar-thumb {
      background: rgb(189, 221, 139);
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background: rgb(176, 206, 127);    
  }